.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  @include mobile {
    position: relative;
    min-height: 100vh;
    min-height: 100dvh;
  }
}

.homeParticlesFar {
  position: absolute;
  margin: auto;

  @include desktop {
    left: dpx(74);
    top: dpx(144);
    right: dpx(92);
    bottom: dpx(202);
    width: dpx(1754);
    height: dpx(634);
  }
}

.homeParticlesClose {
  position: absolute;
  margin: auto;

  @include desktop {
    left: dpx(41);
    top: dpx(207);
    right: dpx(20);
    bottom: dpx(271);
    width: dpx(1859);
    height: dpx(502);
  }
}

.homeGifts {
  position: absolute;
  margin: auto;

  @include desktop {
    left: dpx(-60);
    top: dpx(629);
    right: dpx(0);
    bottom: dpx(-185);
    width: dpx(1980);
    height: dpx(536);
  }
}

.homeParticlesMob {
  position: absolute;
  margin: auto;

  @include mobile {
    left: mpx(8);
    top: mpx(54);
    right: mpx(15);
    bottom: mpx(537);
    width: mpx(352);
    height: mpx(76);
  }
}

.person {
  position: absolute;
  margin: auto;

  @include desktop {
    left: dpx(422);
    top: dpx(84);
    right: dpx(1180);
    bottom: dpx(580);
    width: dpx(318);
    height: dpx(316);
  }
  @include mobile {
    left: mpx(93.58);
    top: mpx(58.22);
    right: mpx(144.58);
    bottom: mpx(473);
    width: mpx(136.83);
    height: mpx(135.78);
  }
}

.personHolder {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  > img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translate3d(0, 0, 0);
  }
}

.homePersonHand {
  transform-origin: 50% 20%;
}

.body {
  position: relative;
  text-align: center;

  @include desktop {
    width: dpx(900);
  }

  @include mobile {
    width: mpx(345);
    margin-top: mpx(163 - 96);
  }
}

.title {
  font-family: 'Bebas Neue', 'Inter', sans-serif;
  font-weight: 700;
  text-transform: uppercase;

  @include desktop {
    margin-bottom: dpx(12);
  }

  @include mobile {
    margin-bottom: mpx(15);
  }
}

.titleTopWrap {
  position: relative;
  margin: auto;
  transform: rotate(-3deg);

  @include desktop {
    width: dpx(501);
  }
}

.titleTop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  line-height: 96%;
  background: var(--Black, #161618);

  @include desktop {
    height: dpx(94);
    margin-bottom: dpx(12);
    padding: dpx(12 32 0);
    font-size: dpx(88);
    border-radius: dpx(64);
  }

  @include mobile {
    height: mpx(62.22);
    margin-bottom: mpx(4);
    padding: mpx(10 20 0);
    font-size: mpx(60);
    line-height: mpx(42);
    border-radius: mpx(40.432);
  }
}

.titleMid {
  line-height: 96%;

  @include desktop {
    font-size: dpx(150);
    margin-bottom: dpx(-8);
  }

  @include mobile {
    font-size: mpx(100);
    margin-bottom: mpx(-6);
  }
}

.titleBot {
  line-height: 96%;
  white-space: nowrap;

  @include desktop {
    font-size: dpx(150);
  }

  @include mobile {
    font-size: mpx(60);
  }
}

.text {
  line-height: 130%;

  @include desktop {
    width: dpx(592);
    margin: 0 auto dpx(48);
    font-size: dpx(24);
  }

  @include mobile {
    margin-bottom: mpx(30);
    font-size: mpx(18);
  }
}

.actions {
  display: grid;

  @include desktop {
    gap: dpx(16);
    min-width: dpx(288);
    width: fit-content;
    margin: auto;
  }

  @include mobile {
    gap: mpx(12);
  }
}

.toResultsBtn {
  border: none;
  background: none;
  outline: none;
  color: #161618;
  font-weight: 600;
  transition: opacity var(--transition-main);

  @include desktop {
    font-size: dpx(22);
    cursor: pointer;

    &:hover {
      color: #161618;
      opacity: 0.8;
    }
  }

  @include mobile {
    font-size: mpx(18);
  }
}
