.cookies {
  --cookies-bg-color: #e3f5ff;
  --cookies-text-color: #161618;
  --cookies-link-color: #5083c2;
  --cookies-button-bg-color: transparent;
  --cookies-button-text-color: #000;

  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 100010;
  background: var(--cookies-bg-color);

  @include desktop {
    gap: dpx(16);
    bottom: dpx(10);
    width: fit-content;
    padding: dpx(8 8 8 24);
    border-radius: dpx(24);
  }

  @include mobile {
    gap: mpx(16);
    width: mpx(375);
    padding: mpx(8 24);
    border-radius: mpx(24 24 0 0);
  }
}

.text {
  color: var(--cookies-text-color);
  font-weight: 500;
  line-height: 145%;

  @include desktop {
    font-size: dpx(14);
  }

  @include mobile {
    font-size: mpx(12);
  }

  a {
    color: var(--cookies-link-color);
    text-decoration: none;
  }
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--cookies-button-bg-color);
  color: var(--cookies-button-text-color);
  font-weight: 500;
  line-height: 130%;
  outline: none;
  border: none;

  @include desktop {
    width: dpx(106);
    height: dpx(31);
    font-size: dpx(14);
    letter-spacing: dpx(-0.3);
    border: mpx(1) solid #000;
    border-radius: mpx(16);
    cursor: pointer;

    &:hover {
      opacity: 0.9;
    }
  }

  @include mobile {
    width: mpx(85);
    height: mpx(30);
    font-size: mpx(12);
    border-radius: mpx(16);
  }
}
