.header {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  @include desktop {
    padding: dpx(21 42 0);
    width: dpx(1920);
  }

  @include mobile {
    padding: mpx(11 16);
    width: 100%;
  }
}

.logos {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @include desktop {
    gap: dpx(16);
  }

  @include mobile {
    gap: mpx(8);
  }
}

.logoLink {
  transition: opacity var(--transition-main);

  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.4;
  }
}

.aviasalesLogoImg {
  display: block;

  @include desktop {
    width: dpx(135);
    height: dpx(28);
  }

  @include mobile {
    width: mpx(76.6);
    height: mpx(16);
  }
}

.clientLogoImg {
  display: block;

  @include desktop {
    width: dpx(202);
    height: dpx(28);
  }

  @include mobile {
    width: mpx(114.95);
    height: mpx(16);
  }
}

.cross {
  display: block;

  @include desktop {
    width: dpx(10);
    height: dpx(10);
  }

  @include mobile {
    width: mpx(7);
    height: mpx(7);
  }
}

.actions {
  display: flex;
  align-items: center;

  @include desktop {
    gap: dpx(10);
  }

  @include mobile {
    gap: mpx(6);
  }
}

.rulesLink {
  display: block;
  color: #161618;
  font-weight: 400;
  line-height: 130%;
  text-decoration: none;

  @include desktop {
    padding: dpx(6 16 4);
    font-size: dpx(16);
    border: dpx(1) solid var(--Black, #161618);
    border-radius: dpx(67);
    transition: opacity var(--transition-main);

    &:hover {
      color: #161618;
      text-decoration: none;
      opacity: 0.8;
    }
  }

  @include mobile {
    height: mpx(28);
    padding: mpx(5 8 3);
    font-size: mpx(12);
    border: mpx(1) solid var(--Black, #161618);
    border-radius: mpx(53.413);
  }
}

.soundBtn {
  background: none;
  border: none;
  outline: none;
  display: block;
  position: relative;

  @include desktop {
    width: dpx(35);
    height: dpx(34);
    border: dpx(1) solid var(--Black, #161618);
    border-radius: dpx(67);
    transition: opacity var(--transition-main);
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  @include mobile {
    width: mpx(28);
    height: mpx(28);
    border: mpx(1) solid var(--Black, #161618);
    border-radius: mpx(53.413);
  }
}

.soundBtnImg {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

// at home
// .screen-home {
//   .content {
//     @include desktop {
//       width: dpx(1620);
//       padding-top: dpx(100);
//     }
//   }
// }
