MODERN__NODE_ENV='development'
MODERN__DEADLINE_DATE='2028-01-01'
MODERN__ALTCRAFT__USERNAME='x'
MODERN__ALTCRAFT__PASSWORD='x'
MODERN__ALTCRAFT__CAMPAIGN='special_campaign'
MODERN__ALTCHA__SECRET_KEY='secret'
MODERN__ALTCHA__SKIP='true'
MODERN__ALTCHA__HEADER_NAME='x-altcha-token'
MODERN__SMART_CAPTCHA__SKIP='true'
MODERN__SMART_CAPTCHA__SITE_KEY='key'
MODERN__SITE_URL='http://localhost:8080'
MODERN__WINNERS=''
MODERN__WINNERS_LINK=''
