.results {
  position: relative;
  overflow: hidden;
  min-height: 100vh;

  @include desktop {
    padding: dpx(148 0 120);
  }

  @include mobile {
    padding: mpx(66 0 100);
  }
}

.content {
  position: relative;
  margin: 0 auto;

  @include desktop {
    width: dpx(1824);
  }

  @include mobile {
    width: mpx(375);
  }
}

//
.result {
  @include mobile {
    margin-bottom: mpx(40);
  }
}

.resultTitle {
  font-family: 'Bebas Neue', 'Inter', sans-serif;
  font-weight: 700;
  line-height: 115%;
  text-align: center;

  @include desktop {
    margin-bottom: dpx(48);
    font-size: dpx(64);
  }

  @include mobile {
    width: mpx(335);
    margin: 0 auto mpx(16);
    font-size: mpx(36);
  }
}

//
.resultCards {
  --slider-transition-duration: 0.4s;
  --slider-transition-func: cubic-bezier(0.3, 0.6, 0.5, 1.2);

  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  user-select: none;

  @include desktop {
    height: dpx(782);
    pointer-events: none;
  }

  @include mobile {
    height: mpx(656);
  }

  .resultCardWrap {
    position: absolute;
  }
}

.resultCardWrap {
  margin: auto;
  left: 0;
  right: 0;
  transition: transform var(--slider-transition-duration) var(--slider-transition-func);
  will-change: transform;
  backface-visibility: hidden;

  @include desktop {
    width: dpx(392);
    pointer-events: all;

    &-Left {
      transform: translateZ(-360px) translate(-132%, -6%);
      .resultCard {
        cursor: pointer !important;
      }
    }
    &-Right {
      transform: translateZ(-360px) translate(132%, -6%);
      .resultCard {
        cursor: pointer !important;
      }
    }
  }

  @include mobile {
    width: mpx(288);

    &-Left {
      transform: translateZ(-2px) translate(calc(-100% - #{mpx(13)}));
    }
    &-Right {
      transform: translateZ(-2px) translate(calc(100% + #{mpx(13)}));
    }
  }
}

.resultCard {
  position: relative;
  background: var(--White, #fff);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);

  @include desktop {
    height: dpx(600);
    padding: dpx(28 40);
    border-radius: dpx(40);
  }

  @include mobile {
    height: mpx(460);
    padding: mpx(24);
    border-radius: mpx(40);
  }
}

.resultCardNumber {
  position: absolute;
  width: fit-content;
  color: #ffffff;
  background: var(--Black, #161618);

  @include desktop {
    left: dpx(40);
    top: dpx(28);
    padding: dpx(5 12);
    font-size: dpx(16);
    border-radius: dpx(16);
  }

  @include mobile {
    left: mpx(24);
    top: mpx(24);
    padding: mpx(5 8);
    font-size: mpx(12);
    border-radius: mpx(12);
  }
}

.resultCardImage {
  display: block;
  object-fit: contain;

  @include desktop {
    height: dpx(348);
    margin-bottom: dpx(12);
  }

  @include mobile {
    height: mpx(256);
    margin-bottom: mpx(4);
  }
}

.resultCardTitle {
  font-family: 'Bebas Neue', 'Inter', sans-serif;
  font-weight: 700;
  line-height: 115%;

  @include desktop {
    margin-bottom: dpx(12);
    font-size: dpx(34);
  }

  @include mobile {
    margin-bottom: mpx(12);
    font-size: mpx(28);
  }
}

.resultCardForWho {
  line-height: 130%;

  @include desktop {
    margin-bottom: dpx(12);
    font-size: dpx(14);
  }

  @include mobile {
    margin-bottom: dpx(12);
    font-size: mpx(11);
  }

  b {
    font-weight: 700;
  }
}

.resultCardText {
  font-weight: 500;
  line-height: 140%;

  @include desktop {
    font-size: dpx(16);
  }

  @include mobile {
    font-size: mpx(12);
  }
}

.resultCardPromoWrap {
  position: relative;
  transition: var(--slider-transition-duration) var(--slider-transition-func);
  transition-property: opacity, transform;
}

.resultCardWrap:not(.resultCardWrapActive) {
  .resultCardPromoWrap {
    opacity: 0;
    transform: scale(0.5);
    pointer-events: none;
  }
}

.cardPromoLeft,
.cardPromoRight {
  display: block;
  position: absolute;
}
.cardPromoLeft {
  @include desktop {
    left: dpx(-57);
    top: dpx(-3.5);
    width: dpx(65);
    height: dpx(80);
  }
  @include mobile {
    left: mpx(-37);
    top: mpx(10);
    width: mpx(44);
    height: mpx(54);
  }
}
.cardPromoRight {
  @include desktop {
    right: dpx(-52);
    bottom: dpx(15.5);
    width: dpx(64);
    height: dpx(80);
  }
  @include mobile {
    right: mpx(-35);
    bottom: mpx(39);
    width: mpx(43.31);
    height: mpx(54);
  }
}

.resultCardPromo {
  display: grid;
  align-items: center;
  position: relative;
  background: var(--Lime, #efff91);

  @include desktop {
    min-height: dpx(166);
    margin-top: dpx(16);
    padding: dpx(12 40);
    border-radius: dpx(40);
  }
  @include mobile {
    min-height: mpx(180);
    margin-top: mpx(16);
    padding: mpx(24);
    border-radius: mpx(24);
  }
}

.resultCardPromoText {
  font-weight: 500;
  line-height: 140%;

  @include desktop {
    font-size: dpx(16);
  }

  @include mobile {
    font-size: mpx(14);
    line-height: 150%;
  }

  a {
    font-weight: 600;
  }
}

.buttonNext,
.buttonPrev {
  position: absolute;
  left: 50%;

  @include desktop {
    top: dpx(272);
    width: dpx(56);
    height: dpx(56);
    pointer-events: all;
    cursor: pointer;
    transition: opacity var(--transition-main);
    will-change: opacity;

    &:hover {
      opacity: 0.8;
    }
  }
}
.buttonNext {
  @include desktop {
    transform: translateX(calc(-50% + #{dpx(592)}));
  }
}
.buttonPrev {
  @include desktop {
    transform: translateX(calc(-50% - #{dpx(592)})) rotate(180deg);
  }
}

//
.resultPaginator {
  display: flex;
  justify-content: center;

  @include desktop {
    gap: dpx(8);
    margin-top: dpx(24);
  }

  @include mobile {
    gap: mpx(8);
    margin-top: mpx(24);
  }
}

.resultPaginatorItem {
  overflow: visible;

  @include desktop {
    width: dpx(16);
    height: dpx(16);
    cursor: pointer;
    transition: opacity var(--transition-main);
    will-change: opacity;

    &:hover {
      opacity: 0.8;
    }
  }

  @include mobile {
    width: mpx(16);
    height: mpx(16);
  }

  circle {
    transition: 0.4s ease-in-out;
    transition-property: stroke-width, r;
  }
}

.resultPaginatorItemSelected {
  pointer-events: none;

  circle {
    stroke-width: 9;
    r: 4;
  }
}

//
.resultActions {
  display: grid;
  margin: auto;

  @include desktop {
    width: dpx(275);
    margin-top: dpx(24);
  }

  @include mobile {
    width: mpx(288);
    margin-top: mpx(16);
  }
}

.resultEmptyActions {
  @include desktop {
    width: dpx(392);
  }
}

// PROMO
.promoWrap {
  position: relative;

  @include desktop {
    width: dpx(1354);
    margin: dpx(64) auto;
    padding: dpx(112 692 94 153);
  }

  @include mobile {
    padding: mpx(40 20 401);
    background: #efff91;
    border-radius: mpx(24);
  }
}

.promoBg {
  position: absolute;
  background: var(--Lime, #efff91);

  @include desktop {
    left: dpx(63.07);
    top: dpx(15.95);
    right: dpx(62.93);
    bottom: dpx(15.68);
    border-radius: dpx(40);
    transform: rotate(-1.5deg);
  }
}

.promoBody {
  position: relative;
}

.promoTitle {
  font-family: 'Bebas Neue', 'Inter', sans-serif;
  font-weight: 700;
  line-height: 115%;

  @include desktop {
    margin-bottom: dpx(40);
    font-size: dpx(64);
  }

  @include mobile {
    margin-bottom: mpx(24);
    font-size: mpx(36);
    text-align: center;
  }
}

.promoText {
  @include mobile {
    font-weight: 500;
  }

  a {
    font-weight: 600;
  }

  p:not(:last-child) {
    @include desktop {
      margin-bottom: dpx(20 * 1.3);
    }
    @include mobile {
      margin-bottom: mpx(16 * 1.3);
    }
  }
}

.promoActions {
  display: grid;

  @include desktop {
    width: dpx(322);
    margin-top: dpx(40);
  }

  @include mobile {
    margin-top: mpx(24);
  }
}

.promoCodeWrap {
  display: flex;
  color: #ffffff;
  background-size: 100% 100%;

  @include desktop {
    gap: dpx(12);
    position: absolute;
    right: dpx(113);
    bottom: dpx(90);
    width: dpx(579);
    height: dpx(112);
    padding: dpx(42 70 28 75);
    background-image: image('promocodeBg.png');
  }

  @include mobile {
    flex-wrap: wrap;
    justify-content: space-between;
    width: mpx(338);
    height: mpx(125);
    margin-top: mpx(22);
    padding: mpx(22 18);
    background-image: image('promocodeBgMob.png');
  }
}

.promoCodeTitle {
  font-family: 'Bebas Neue', 'Inter', sans-serif;
  font-weight: 700;
  line-height: 110%;

  @include desktop {
    font-size: dpx(26);
    white-space: nowrap;
  }

  @include mobile {
    flex: 0 100%;
    margin-bottom: mpx(4);
    font-size: mpx(26);
  }
}

.promoCodeText {
  font-weight: 500;
  line-height: 130%;

  @include desktop {
    font-size: dpx(14);
    letter-spacing: dpx(-0.3);
  }

  @include mobile {
    flex: 0 mpx(138);
    font-size: mpx(14);
    letter-spacing: mpx(-0.3);
  }
}

.promoIllustration {
  position: absolute;

  @include desktop {
    bottom: dpx(171);
    right: dpx(110);
    width: dpx(475);
    height: dpx(530);
  }

  @include mobile {
    left: mpx(20);
    bottom: mpx(28);
    width: mpx(335);
    height: mpx(373.79);
  }
}

.promoBoxes,
.promo80 {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

//
.bottom {
  @include desktop {
    width: dpx(1048);
    margin: dpx(96) auto 0;
  }

  @include mobile {
    width: mpx(335);
    margin: mpx(48) auto mpx(20);
  }
}

//
.legal {
  @include desktop {
    width: dpx(1048);
    margin: dpx(64) auto 0;
    padding-top: dpx(16);
    border-top: dpx(1) solid var(--Black, #161618);
  }

  @include mobile {
    width: mpx(335);
    margin: mpx(40) auto 0;
    padding-top: mpx(16);
    border-top: mpx(1) solid var(--Black, #161618);
  }

  p {
    line-height: 130%;
    opacity: 0.7;

    @include desktop {
      font-size: dpx(14);
    }

    @include mobile {
      font-size: mpx(14);
    }
  }
}
