.game {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.process {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.gameParticlesFar {
  position: absolute;
  margin: auto;

  @include desktop {
    left: dpx(1315);
    top: dpx(210);
    right: dpx(112);
    bottom: dpx(180);
    width: dpx(493);
    height: dpx(590);
  }
}
.gameParticlesClose {
  position: absolute;
  margin: auto;

  @include desktop {
    left: dpx(1216);
    top: dpx(522);
    right: dpx(101.5);
    bottom: dpx(128);
    width: dpx(602.5);
    height: dpx(330);
  }
}

.content {
  position: relative;

  @include desktop {
    width: dpx(1920 - 216 - 216);
  }
}

.body {
  @include desktop {
    width: dpx(916);
  }
}

//
.progressSection {
  display: flex;
  align-items: center;

  @include desktop {
    gap: dpx(18);
    margin-bottom: dpx(64);
  }
}

.progressBar {
  position: relative;
  overflow: hidden;

  @include desktop {
    width: dpx(440);
    height: dpx(12);
    border: dpx(1) solid var(--Black, #161618);
    border-radius: dpx(20);
  }
}

.progressBarValue {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: var(--Black, #161618);
  transition: width 0.4s ease-in-out;

  @include desktop {
    border-radius: dpx(20);
  }
}

.progressCounter {
  @include desktop {
    font-size: dpx(23);
  }
}

//
.title {
  font-family: 'Bebas Neue', 'Inter', sans-serif;
  font-weight: 700;
  line-height: 115%;

  @include desktop {
    margin-bottom: dpx(12);
    font-size: dpx(64);
  }
}

.subtitle {
  line-height: 130%;

  @include desktop {
    margin-bottom: dpx(38);
    font-size: dpx(24);
  }
}

//
.options {
  display: flex;
  flex-wrap: wrap;

  @include desktop {
    gap: dpx(12);
  }
}

.option {
  white-space: nowrap;
  user-select: none;
  transition: 0.4s ease-in-out;
  transition-property: color, background;
  will-change: color, background;

  @include desktop {
    padding: dpx(16 20);
    font-size: dpx(20);
    border: dpx(2) solid var(--Black, #161618);
    border-radius: dpx(200);
    cursor: pointer;
  }
}

.optionSelected {
  color: #ffffff;
  background: var(--Black, #161618);
}

//
.actions {
  @include desktop {
    margin-top: dpx(100);
  }
}

.submitWrap {
  position: relative;
  width: fit-content;
}

@keyframes submitTipAnim {
  100% {
    transform: none;
  }
}
.submitTip {
  display: grid;
  align-items: center;
  position: absolute;
  font-weight: 700;
  line-height: 112%;
  text-align: center;
  background-image: image('hint.svg');
  background-size: 100% 100%;
  pointer-events: none;
  transform: scale(0) rotate(-12deg);
  transform-origin: 80% 100%;
  animation: submitTipAnim 0.2s cubic-bezier(0.3, 0.6, 0.5, 1.5) forwards;

  @include desktop {
    top: dpx(-60);
    left: dpx(22);
    width: dpx(197);
    height: dpx(58);
    padding: dpx(4 16 8);
    font-size: dpx(16);
  }
}

//
@keyframes fadeInAnim {
  100% {
    opacity: 1;
  }
}
.loader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: fadeInAnim 0.2s ease-in-out forwards;
}

.loaderParticles {
  position: absolute;
  margin: auto;

  @include desktop {
    left: dpx(433);
    top: dpx(274);
    right: dpx(521);
    bottom: dpx(276);
    width: dpx(966);
    height: dpx(430);
  }
}

.loaderAnim {
  position: absolute;
  margin: auto;

  @include desktop {
    left: dpx(718);
    top: dpx(250);
    right: dpx(792);
    bottom: dpx(230);
    width: dpx(410);
    height: dpx(500);
  }
}

.loaderText {
  position: absolute;
  margin: auto;
  transform: scale(0) rotate(6deg);
  transform-origin: 0% 100%;
  animation: submitTipAnim 0.1s cubic-bezier(0.3, 0.6, 0.5, 1.5) forwards;

  &-0 {
    @include desktop {
      left: dpx(996);
      top: dpx(187);
      right: dpx(485);
      bottom: dpx(594);
      width: dpx(439);
      height: dpx(199);
    }
  }
  &-1 {
    @include desktop {
      left: dpx(996);
      top: dpx(187);
      right: dpx(485);
      bottom: dpx(594);
      width: dpx(439);
      height: dpx(199);
    }
  }
  &-2 {
    @include desktop {
      left: dpx(996);
      top: dpx(187);
      right: dpx(485);
      bottom: dpx(594);
      width: dpx(439);
      height: dpx(199);
    }
  }
  &-3 {
    @include desktop {
      left: dpx(996);
      top: dpx(187);
      right: dpx(485);
      bottom: dpx(594);
      width: dpx(439);
      height: dpx(199);
    }
  }
  &-4 {
    @include desktop {
      left: dpx(996);
      top: dpx(187);
      right: dpx(485);
      bottom: dpx(594);
      width: dpx(439);
      height: dpx(199);
    }
  }
}
