.game {
  @include desktop {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  @include mobile {
    position: relative;
    padding: mpx(66 0 82);
    min-height: 100dvh;
  }
}

.process {
  @include desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.gameParticlesFar {
  position: absolute;
  margin: auto;

  @include desktop {
    left: dpx(1315);
    top: dpx(210);
    right: dpx(112);
    bottom: dpx(180);
    width: dpx(493);
    height: dpx(590);
  }
}
.gameParticlesClose {
  position: absolute;
  margin: auto;

  @include desktop {
    left: dpx(1216);
    top: dpx(522);
    right: dpx(101.5);
    bottom: dpx(128);
    width: dpx(602.5);
    height: dpx(330);
  }
}

.person {
  position: absolute;
  margin: auto;

  @include desktop {
    left: dpx(1173);
    top: dpx(274);
    right: dpx(143);
    bottom: dpx(221);
    width: dpx(604);
    height: dpx(485);
  }
}

.gamePersonLeft,
.gamePersonRight {
  position: fixed;
  display: block;
  pointer-events: none;

  @include mobile {
    width: mpx(170);
    height: mpx(175);
  }
}

@keyframes gamePersonLeftAnim {
  0%,
  40%,
  100% {
    transform: translateX(-100%);
  }
  20%,
  30% {
    transform: none;
  }
}
.gamePersonLeft {
  @include mobile {
    left: mpx(-81);
    top: mpx(25);
    animation: gamePersonLeftAnim 12s ease-in-out infinite;
  }
}

@keyframes gamePersonRightAnim {
  0%,
  40%,
  100% {
    transform: translateX(100%) scaleX(-1);
  }
  20%,
  30% {
    transform: scaleX(-1);
  }
}
.gamePersonRight {
  @include mobile {
    top: mpx(174);
    right: mpx(-81);
    animation: gamePersonRightAnim 12s ease-in-out -7s infinite;
  }
}

//
.content {
  position: relative;

  @include desktop {
    width: dpx(1920 - 216 - 216);
  }

  @include mobile {
    width: mpx(320);
    margin: auto;
  }
}

.body {
  @include desktop {
    width: dpx(916);
  }

  @include mobile {
    text-align: center;
  }
}

//
.progressSection {
  display: flex;
  align-items: center;

  @include desktop {
    gap: dpx(18);
    margin-bottom: dpx(64);
  }

  @include mobile {
    justify-content: center;
    gap: mpx(18);
    margin-bottom: mpx(24);
  }
}

.progressBar {
  position: relative;
  overflow: hidden;

  @include desktop {
    width: dpx(440);
    height: dpx(12);
    border: dpx(1) solid var(--Black, #161618);
    border-radius: dpx(20);
  }

  @include mobile {
    width: mpx(258);
    height: mpx(6);
    border: mpx(1) solid var(--Black, #161618);
    border-radius: mpx(20);
  }
}

.progressBarValue {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: var(--Black, #161618);
  transition: width 0.4s ease-in-out;

  @include desktop {
    border-radius: dpx(20);
  }

  @include mobile {
    border-radius: mpx(20);
  }
}

.progressCounter {
  @include desktop {
    font-size: dpx(23);
  }

  @include mobile {
    width: mpx(36);
    font-size: mpx(16);
    text-align: right;
    white-space: nowrap;
  }
}

//
.title {
  font-family: 'Bebas Neue', 'Inter', sans-serif;
  font-weight: 700;
  line-height: 115%;

  @include desktop {
    margin-bottom: dpx(12);
    font-size: dpx(64);
  }

  @include mobile {
    margin-bottom: mpx(24);
    font-size: mpx(36);
  }
}

.subtitle {
  line-height: 130%;

  @include desktop {
    margin-bottom: dpx(38);
    font-size: dpx(24);
  }

  @include mobile {
    margin-bottom: mpx(24);
    font-size: mpx(18);
  }
}

//
.options {
  display: flex;

  @include desktop {
    flex-wrap: wrap;
    gap: dpx(12);
  }

  @include mobile {
    flex-direction: column;
    gap: mpx(12);
  }
}

.option {
  white-space: nowrap;
  user-select: none;
  transition: 0.4s ease-in-out;
  transition-property: color, background;
  will-change: color, background;

  @include desktop {
    padding: dpx(16 20);
    font-size: dpx(20);
    border: dpx(2) solid var(--Black, #161618);
    border-radius: dpx(200);
    cursor: pointer;
  }

  @include mobile {
    padding: mpx(12 20);
    font-size: mpx(16);
    text-align: center;
    border: mpx(2) solid var(--Black, #161618);
    border-radius: mpx(200);
  }
}

.optionSelected {
  color: #ffffff;
  background: var(--Black, #161618);
}

//
.actions {
  @include desktop {
    margin-top: dpx(100);
  }

  @include mobile {
    margin-top: mpx(24);
  }
}

.submitWrap {
  position: relative;

  @include desktop {
    width: fit-content;
  }
}

@keyframes submitTipAnim {
  100% {
    transform: none;
  }
}
.submitTip {
  display: grid;
  align-items: center;
  position: absolute;
  font-weight: 700;
  line-height: 112%;
  text-align: center;
  background-image: image('hint.svg');
  background-size: 100% 100%;
  pointer-events: none;
  transform: scale(0) rotate(-12deg);
  transform-origin: 80% 100%;
  animation: submitTipAnim 0.2s cubic-bezier(0.3, 0.6, 0.5, 1.5) forwards;

  @include desktop {
    top: dpx(-60);
    left: dpx(22);
    width: dpx(197);
    height: dpx(58);
    padding: dpx(4 16 8);
    font-size: dpx(16);
  }

  @include mobile {
    left: mpx(59.95);
    top: mpx(-60);
    width: mpx(197);
    height: mpx(58);
    padding: mpx(4 16 8);
    font-size: mpx(16);
  }
}

//
@keyframes fadeInAnim {
  100% {
    opacity: 1;
  }
}
.loader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: fadeInAnim 0.2s ease-in-out forwards;
}

.loaderParticles {
  position: absolute;
  margin: auto;

  @include desktop {
    left: dpx(433);
    top: dpx(274);
    right: dpx(521);
    bottom: dpx(276);
    width: dpx(966);
    height: dpx(430);
  }

  @include mobile {
    left: mpx(25);
    top: mpx(69);
    right: mpx(47);
    bottom: mpx(150);
    width: mpx(303);
    height: mpx(448);
  }
}

.loaderAnim {
  position: absolute;
  margin: auto;

  @include desktop {
    left: dpx(718);
    top: dpx(250);
    right: dpx(792);
    bottom: dpx(230);
    width: dpx(410);
    height: dpx(500);
  }

  @include mobile {
    left: mpx(21);
    top: mpx(211);
    right: mpx(120);
    bottom: mpx(170);
    width: mpx(234);
    height: mpx(286);
  }
}

.loaderText {
  position: absolute;
  margin: auto;
  transform: scale(0) rotate(6deg);
  transform-origin: 0% 100%;
  animation: submitTipAnim 0.1s cubic-bezier(0.3, 0.6, 0.5, 1.5) forwards;

  &-0 {
    @include desktop {
      left: dpx(996);
      top: dpx(187);
      right: dpx(485);
      bottom: dpx(594);
      width: dpx(439);
      height: dpx(199);
    }
    @include mobile {
      left: mpx(113);
      top: mpx(137);
      right: mpx(11);
      bottom: mpx(422);
      width: mpx(251);
      height: mpx(108);
    }
  }
  &-1 {
    @include desktop {
      left: dpx(996);
      top: dpx(187);
      right: dpx(485);
      bottom: dpx(594);
      width: dpx(439);
      height: dpx(199);
    }
    @include mobile {
      left: mpx(113);
      top: mpx(137);
      right: mpx(11);
      bottom: mpx(422);
      width: mpx(251);
      height: mpx(108);
    }
  }
  &-2 {
    @include desktop {
      left: dpx(996);
      top: dpx(187);
      right: dpx(485);
      bottom: dpx(594);
      width: dpx(439);
      height: dpx(199);
    }
    @include mobile {
      left: mpx(113);
      top: mpx(137);
      right: mpx(11);
      bottom: mpx(422);
      width: mpx(251);
      height: mpx(108);
    }
  }
  &-3 {
    @include desktop {
      left: dpx(996);
      top: dpx(187);
      right: dpx(485);
      bottom: dpx(594);
      width: dpx(439);
      height: dpx(199);
    }
    @include mobile {
      left: mpx(113);
      top: mpx(137);
      right: mpx(11);
      bottom: mpx(422);
      width: mpx(251);
      height: mpx(108);
    }
  }
  &-4 {
    @include desktop {
      left: dpx(996);
      top: dpx(187);
      right: dpx(485);
      bottom: dpx(594);
      width: dpx(439);
      height: dpx(199);
    }
    @include mobile {
      left: mpx(113);
      top: mpx(137);
      right: mpx(11);
      bottom: mpx(422);
      width: mpx(251);
      height: mpx(108);
    }
  }
}
